{% extends "editor/layout.jinja" %}
{% from "bootstrap5/form.html" import render_form %}
{% block body %}

<!-- 
    What should the configuration include?  What would be good to be able to control?
    
    Small Stuff:
    - Themes
    - Display fonts
    
    Big Stuff:
    - Templates
      - Project Type
      - Tree starting point
      - Text templates - ckeditor has this so they could be defined in config and then be available in the editor
      - Starting tree nodes could have associated text templates
    -
 -->
    {{ render_form(form, id="configform", novalidate=True, button_map={"submit": "success"}, action=url_for('editor.save_config')) }}
{% endblock %}
