{% extends "editor/layout.jinja" %}
{% from "bootstrap5/form.html" import render_form %}

{% block navbar_buttons_after %}
<li class="nav-item">
    <a id="config" href="{{ url_for('editor.show_config') }}" role="button" class="nav-link">{{ _('Configuration') }}</a>
</li>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">

                    <div class="btn-group">
                        <a id="showProjects" role="button" class="btn btn-success" href="{{ url_for('editor.get_project_list') }}">{{ _('Show Projects') }}</a>
                        <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="visually-hidden">{{ _('Toggle Dropdown') }}</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item"><a id="showDeletedProjects" href="{{ url_for('editor.get_deleted_project_list') }}">{{ _('Show Deleted Projects') }}</a></li>
                        </ul>
                    </div>

                    <div class="btn-group pull-right">
                        <a id="showTemplates" role="button" class="btn btn-success" href="{{ url_for('editor.get_template_list') }}">{{ _('Show Templates') }}</a>
                        <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="visually-hidden">{{ _('Toggle Dropdown') }}</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item"><a id="showDeletedTemplates" href="{{ url_for('editor.get_deleted_template_list') }}">{{ _('Show Deleted Templates') }}</a></li>
                        </ul>
                    </div>

                </div>

                <div id="projectlist" class="list-group list-group-flush">
                    {% for project in projects %}
                    <a class="list-group-item list-group-item-action" data-is_template={{ project.is_template }} href={{ url_for('editor.show_content', project_id=project.id) }}>
                        <div class="d-flex w-100 justify-content-between">
                            <h4 class="mb-1">{{ project.name }}</h4>
                            <button type="button" class="btn btn-danger close deleteProject" data-project_id="{{ project.id }}" data-is_deleted={{ project.is_deleted }} aria-label="{{ _('Delete') }}"><i class="fa-regular fa-circle-xmark"></i></button>
                        </div>
                        <p class="mb-1">{{ project.short_description }}</p>
                    </a>
                    {% else %}
                    <em>{{ _('No entries here so far') }}</em> {% endfor %}
                </div>

            </div>
        </div>

        <div class="col">
            {{ render_form(form, id="addprojectform", novalidate=True, button_map={"submit": "success"}, action=url_for('editor.add_project')) }}
        </div>
    </div>

<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}