{% extends "layout.jinja" %}

{% block body %}



    <div class="container px-4 text-center">
        <div class="row g-5">
            <div class="col">
                <h1 class="display-1">
                    <i class="fa-regular fa-gem "></i>
                    Auteur: <small>{{ _('Organise Your Writing') }}</small>
                </h1>
            </div>
        </div>
    </div>

{% endblock %}