{% extends "layout.html" %}
{% block body %}
  <div class="col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <button id="showProjects" type="button" class="btn btn-success">Show Projects</button>
        <button id="showTemplates" type="button" class="btn btn-success pull-right">Show Templates</button>
      </div>
  
      <div id="projectlist" class="list-group">
        {% for project in projects %}
          <a class="list-group-item" data-is_template={{ project.is_template }} href={{ url_for('show_content', project_id=project.id) }}>
          <h4 class="list-group-item-heading">{{ project.name }}</h4>
          <p class="list-group-item-text">{{ project.short_description }}</p>
          </a>
        {% else %}
          <em>Unbelievable.  No entries here so far</em>
        {% endfor %}
      </div>
  
    </div>
  </div>
  
  <div class="col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h4 class="panel-title">Create a New Project</h4>
      </div>
      <div class="panel-body">
        {% from "form_helper.html" import render_field %}
        {% from "form_helper.html" import render_field_checkbox %}
        <form id="addprojectform" action="{{ url_for('add_project') }}" method=post>
          {{ form.csrf_token }}
          {{ render_field(form.name, class='form-control', id='name', placeholder='Enter the name here') }}
          {{ render_field(form.description, class='form-control', id='description', placeholder='Add a description here') }}
          {{ render_field(form.template, class='form-control', id='template') }}
          {{ render_field_checkbox(form.is_template, id='is_template') }}
          <button type="submit" class="btn btn-success">Start</button>
        </form>
      </div>
    </div>
  </div>
  
  <script src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}