<!doctype html>
<head>
  <title>Auteur</title>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- Tree plugin -->
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='lib/jstree/style.min.css') }}">

  <!-- Now the javascript -->
  <!-- jQuery -->
  <script src="{{ url_for('static', filename='lib/jquery-2.1.3.min.js') }}"></script>
  <!-- CKEditor -->
  <script src="{{ url_for('static', filename='lib/ckeditor/ckeditor.js') }}"></script>
  <!-- Bootstrap -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <!-- Tree plugin -->
  <script src="{{ url_for('static', filename='lib/jstree/jstree.min.js') }}"></script>
  <script type=text/javascript>
    SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
</head>
<body>
  <div class=container-fluid>

    <div class="row">
    <nav class="navbar navbar-default">  
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ url_for('list_projects') }}"><span class="glyphicon glyphicon-pencil"></span>Auteur: <small>Organise Your Writing</small></a>
        </div>
        <a id="config" href="{{ url_for('show_config') }}" role="button" class="btn btn-primary navbar-btn navbar-right">Configuration</a>
      </div>
    </nav>
    </div>
    {% for message in get_flashed_messages() %}
      <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ message }}
      </div>
    {% endfor %}
    {% block body %}{% endblock %}
    
    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">
        <p class="navbar-text navbar-right"><small>&copy;Simon Brooks 2015</small></p>
        <strong><p id="statusbar" class="navbar-text"></p></strong>
      </div>
    </nav>
  </div>
  
  <script>
    $(document).ready(function(){
      
      $('#config').click(function(){
    	  
      });
    });
  </script>
</body>